<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Beacon" suffix=" · Beacon">
      {assigns[:page_title]}
    </.live_title>
    <script>
      (() => {
        const getSystemTheme = () => window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
        const setTheme = (theme) => {
          const resolvedTheme = theme === "system" ? getSystemTheme() : theme;

          if (theme === "system") {
            localStorage.removeItem("phx:theme");
          } else {
            localStorage.setItem("phx:theme", theme);
          }

          document.documentElement.setAttribute("data-theme", resolvedTheme);
          document.documentElement.setAttribute("data-selected-theme", theme);
        };
        const saved = localStorage.getItem("phx:theme") || "system";
        setTheme(saved);

        window.addEventListener("storage", (e) => {
          if (e.key === "phx:theme") setTheme(e.newValue || "system");
        });

        window.addEventListener("phx:set-theme", (e) => {
          setTheme(e.target.dataset.phxTheme);
        });

        window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", () => {
          if (!localStorage.getItem("phx:theme")) {
            setTheme("system");
          }
        });
      })();
    </script>
    <LiveVue.Reload.vite_assets assets={["/js/app.js", "/css/app.css"]}>
      <link phx-track-static rel="stylesheet" href="/assets/app.css" />
      <script type="module" phx-track-static type="text/javascript" src="/assets/app.js">
      </script>
    </LiveVue.Reload.vite_assets>
  </head>
  <body class={["h-screen", "w-screen", assigns[:overflow_hidden] && "overflow-hidden"]}>
    <nav class="fixed top-0 left-0 right-0 flex items-center justify-end w-full gap-4 px-4 border-b z-100 menu menu-horizontal sm:px-6 lg:px-8 backdrop-blur-lg">
      <%= if @current_scope do %>
        <li>{@current_scope.user.email}</li>
        <li><.link href={~p"/users/settings"}>Settings</.link></li>
        <li><.link href={~p"/users/log-out"} method="delete">Log out</.link></li>
      <% else %>
        <li><.link href={~p"/users/register"}>Register</.link></li>
        <li><.link href={~p"/users/log-in"}>Log in</.link></li>
      <% end %>
    </nav>

    <div class="h-full w-full overflow-x-hidden pt-12">
      {@inner_content}
    </div>
  </body>
</html>
